<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <form action="/add" method="post">
    <div class="form-group">
      <label for="name">auther:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Name" name="auther" required>
    </div>
    <div class="form-group">
      <label for="email">description:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="description" required>
    </div>
    <!-- <div class="form-group">
      <label for="email">subject:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="subject" required>
    </div> -->

    <div class="form-group">
      <label for="email">subject:</label>
      <select name="subject"required size="1">
        <option value="aaa">aaa</option>
        <option value="bbb">bbb</option>
        <option value="ccc">ccc</option>
        
      </select>
    </div>

    <div class="form-group">
      <label for="email">solution:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="solution" required>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>