<%- include("partials/header"); -%>

  <body class="text-center">
    
    <div><p class="p2">Welcome to   </p><br><p class="p2"> the knowledge base </p></div>
    
   <!--  <button class="button button1">Add</button> -->

    <button class="button button1" type="submit"><a href="/add">Add</a></button>
    <button class="button button2" type="submit"><a href="/search">Search</a></button>

    

    
    <!-- <button class="button button2">Search</button>
 -->
    
  

    <%- include("partials/footer"); -%>