<%- include("partials/header"); -%>

  <body class="text-center">
   
    
<main class="form-signin">

  <form class="" action="/" method="post">
    
    <div ><p class="animated-text"> Röhr + Stolberg</p></div>
    <!--<img class="mb-4" src="pohto/Picture1.png" alt="" width="150" height="70">-->
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating" >
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="emailadd"required >
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
     
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

<!--    <button class="w-100 btn btn-lg btn-primary" type="submit"><a href="/home">Sign in</a></button>
 -->     
 <!-- <button class="w-100 btn btn-lg btn-primary" type="submit" onclick= "window.location.href=`/home`" >Sign in</button></a> -->
  </form>
</main>


<%- include("partials/footer"); -%>