<%- include("partials/header"); -%>
    
    <body class="text-center">
        
        <br>
        <br>
        <h2>you can search here</h2>
<br>
<!-- action="/action_page.php"
 --><form class="example"  style="margin:auto;max-width:400px" action="/search" method="post">
  <input type="text" placeholder="Search.."  name="postSearch" required>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br>
<br>
<form name="postSubject"action="/search1" method="post">
	<label>please choose from the select-Menu:
		<select name="postSubject"required size="1">
			<option value="aaa">aaa</option>
			<option value="bbb">bbb</option>
			<option value="ccc">ccc</option>
			
		</select>
	</label>
	<br><br>
  <input type="submit" value="Submit">
</form>
</form>
<p>
	<output> </output>
</p>


<%- include("partials/footer"); -%>
